* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

[class^='col'] {
	padding: 15px;
	background-color: lightblue;
	color: white;
	border: 1px solid white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    text-align: center;
}